*~
*.o
bootsect_bin
kernel_bin
/.vs/ltmicros/v15
/Debug
/boot/bootsect
/kernel/kernel
/kernel.bin
/ltmicros.img
/log.txt
/.vs/ltmicros/v14
/x64/Debug
/ltmicros.VC.db
/ltmicros.VC.VC.opendb
/iso/boot/ltmicros.img
/ltmicros.iso
*.bxrc
*.out
*.bxrc
*.sys
/TODO.txt
*.exe